.image_track {
    display: flex;
    align-items: flex-end;
    gap: 3vmin;
    transition: transform 1.3s cubic-bezier(.17, .81, .26, .87);
    height: 52vmin;
    overflow: hidden;
    transform: translateX(50%);
}

.title {
    justify-self: center;
    display: inline-block;
    color: white; 
    font-size: 4.5vmin;
    font-weight: 800;
}

.cardCounter {
    color: white;
    align-self: center;
    position: absolute; 
    font-size: 2.5vmin;
    font-weight: 800;
    bottom: 5vh;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
}

.image_track_item {
    width: 30vmin;
    height: 46vmin;
    object-fit: cover;
    object-position: 0% 50%;
    transition:
        object-position 1.3s cubic-bezier(.17, .81, .26, .87),
        width 0.7s cubic-bezier(.17, .81, .26, .87),
        height 0.7s cubic-bezier(.17, .81, .26, .87);
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-select: none;
}

.image_track_item:hover {
    width: 34vmin !important;
    height: 52vmin !important;
}